.steps-list {
  padding-bottom: 10px;
}

.step {
  display: flex;
  justify-content: space-between;
}

.step .active .step-icon {
  border: solid 1px #337ab7;
}

.step .active .step-icon .glyphicon {
  color: #337ab7;
}

#lnk-step1,
#lnk-step2,
#lnk-step3 {
  cursor: default;
  pointer-events: none;
}

#lnk-step1 .glyphicon-list-alt {
  left: -1px;
}

#lnk-step2 .glyphicon-calendar {
  right: -1px;
}

.step-icon {
  background-color: #fff;
  border: solid 1px #666;
  color: #fff;
  display: inline-block;
  font-size: 1.9em;
  height: 55px;
  text-align: center;
  width: 55px;
}

.step-icon .glyphicon {
  color: #666;
  font-size: 1.1em;
  line-height: 50px;
}

.step.nav-tabs {
  background: url(../images/line.png) left center repeat-x;
  border: 0;
  padding: 0;
}

.step.nav-tabs > li,
.step.nav-tabs > li > a,
.step.nav-tabs > li.active,
.step.nav-tabs > li.active > a,
.step.nav-tabs > li.active > a:focus,
.step.nav-tabs > li.active > a:hover,
.nav-tabs > li > a {
  border: 0;
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
}

.form-block {
  margin-bottom: 10px;
}

.form-block .step-title {
  /*margin-bottom: $indent*2;*/
}

.form-block label {
  font-size: 16px;
  font-weight: 400;
}

.form-block .form-group {
  margin-bottom: 0;
  padding-top: 10px;
}

.form-block .form-group.calendar-container {
  margin-bottom: 0;
  padding-top: 1px;
}

.form-block .flatpickr-calendar.inline {
  position: static;
}

.flatpickr-input {
  float: right;
  padding: 5px;
  width: 200px;
}

.timepicker {
  float: none;
  margin: 0 10px 10px 0;
  width: 15%;
}

.flatpickr1 {
  opacity: 0;
}

.calendar-container {
  position: relative;
}

.dates-title {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

#flatpickr-dates {
  position: absolute;
  right: 0;
  top: 35px;
}

.time_for_date {
  border: solid 1px #dedede;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.chosen-day {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.add-time {
  display: block;
}

.pag {
  padding-top: 20px;
}

.pag .btn {
  margin: 0 10px 0 0;
}

.form-group .required {
  font-size: 15px;
  right: -4px;
  top: -4px;
}

.note-required {
  float: right;
  font-size: 13px;
}

.calendar-container .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #fff;
}

.glyphicon-trash {
  padding-left: 5px;
}

.glyphicon-plus {
  height: 25px;
  width: 30px;
  margin-left: 5px;
}

.org-box {
  display: flex;
}

.glyphicon-envelope {
  padding-left: 5px;
}

.name-email {
  display: -webkit-box;
}

.glyphicon-plus {
  height: 50px;
}

/* Event info table */
.event-table-wrapper {
  background-color: #f9f9f9;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  /*width: 62%;*/
}

.event-table-wrapper .event-table {
  border: 0;
}

.event-table-wrapper .event-name {
  border: 0;
}

.event-table-wrapper .event-data {
  border: 0;
  font-size: 1.2em;
}

.event-table-wrapper .event-title {
  margin: 0 0 5px;
  padding: 0;
}

.btn-add .glyphicon-plus {
  height: auto;
  padding-right: 6px;
  width: auto;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.navbar .navbar-brand {
  height: auto;
  padding: 10px 37px;
}

.main-page-title {
  margin-bottom: 40px;
}
