.steps-list {
  padding-bottom: 10px;
}

.step {
  /*background: url(../images/line.png) left center no-repeat;*/
  display: flex;
  justify-content: space-between;
}

.step .active .step-icon {
  border: solid 1px #337ab7;
}

.step .active .step-icon .glyphicon {
  color: #337ab7;
}

.step-icon {
  background-color: #fff;
  border: solid 1px #666;
  color: #fff;
  display: inline-block;
  font-size: 1.9em;
  height: 55px;
  text-align: center;
  width: 55px;
}

.step-icon .glyphicon {
  color: #666;
  font-size: 1.1em;
  line-height: 50px;
}

.step.nav-tabs {
  background: url(../images/line.png) left center no-repeat;
  border: 0;
  padding: 0;
}

.step.nav-tabs > li,
.step.nav-tabs > li > a,
.step.nav-tabs > li.active,
.step.nav-tabs > li.active > a,
.step.nav-tabs > li.active > a:focus,
.step.nav-tabs > li.active > a:hover,
.nav-tabs > li > a {
  border: 0;
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
}

.form-block {
  margin-bottom: 10px;
}

.form-block .step-title {
  margin-bottom: 20px;
}

.form-block label {
  font-size: 16px;
  font-weight: 400;
}

.flatpickr-input {
  float: right;
  padding: 5px;
  width: 200px;
}

.form-block .flatpickr-calendar.inline {
  margin-bottom: 20px;
  position: static;
}

.timepicker {
  float: none;
}

.glyphicon-trash {
  padding-left: 5px;
}

.glyphicon-plus {
  height: 25px;
  width: 30px;
  margin-left: 5px;
}

.btn {
  margin-left: 10px;
}

.org-box {
  display: flex;
}

.glyphicon-envelope {
  padding-left: 5px;
}

.name-email {
  display: -webkit-box;
}

.glyphicon-plus {
  height: 50px;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.navbar .navbar-brand {
  height: auto;
  padding: 10px 37px;
}
