@import 'variables';

.steps-list {
  padding-bottom: $indent;
}

.step {
  /*background: url(../images/line.png) left center repeat;*/
  display: flex;
  justify-content: space-between;

  .active .step-icon {
    border: solid 1px #337ab7;

    .glyphicon {
      color: #337ab7;
    }
  }
}

.step-icon {
  background-color: #fff;
  border: solid 1px #666;
  color: #fff;
  display: inline-block;
  font-size: 1.9em;
  height: 55px;
  text-align: center;
  width: 55px;

  .glyphicon {
    color: #666;
    font-size: 1.1em;
    line-height: 50px;
  }
}

.step.nav-tabs>li,
.step.nav-tabs>li.active {

}

.step.nav-tabs {
  background: url(../images/line.png) left center no-repeat;
  border: 0;
  padding: 0;
}

.step.nav-tabs>li,
.step.nav-tabs>li>a,
.step.nav-tabs>li.active,
.step.nav-tabs>li.active>a,
.step.nav-tabs > li.active > a:focus,
.step.nav-tabs > li.active > a:hover,
.nav-tabs>li>a {
  border: 0;
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
}
