@import 'variables';

.steps-list {
  padding-bottom: $indent;
}

.step {
  /*background: url(../images/line.png) left center no-repeat;*/
  display: flex;
  justify-content: space-between;
}

.step-icon {
  background-color: #fff;
  border: solid 1px #666;
  color: #fff;
  display: inline-block;
  font-size: 1.9em;
  height: 55px;
  text-align: center;
  width: 55px;

  &.active {
    border: solid 1px #337ab7;

    .glyphicon {
      color: #337ab7;
    }
  }

  .glyphicon {
    color: #666;
    line-height: 50px;
    font-size: 1.1em;
  }
}

.step.nav-tabs,
.step.nav-tabs>li.active>a,
.step.nav-tabs>li.active>a:focus,
.step.nav-tabs>li.active>a:hover {
  border: 0;
}

.step.nav-tabs>li,
.step.nav-tabs>li.active {
  background: url(../images/line.png) left center no-repeat;
}

