@import 'variables';

.form-block {
  margin-bottom: $indent;

  .step-title {
    margin-bottom: $indent*2;
  }

  label {
    font-size: 16px;
    font-weight: 400;
  }
}


.flatpickr-input {
  float: right;
  padding: 5px;
  width: 200px;
}

.form-block .flatpickr-calendar.inline {
  margin-bottom: $indent*2;
  position: static;
}

