@import 'variables';

.form-block {
  margin-bottom: $indent;

  .step-title {
    /*margin-bottom: $indent*2;*/
  }

  label {
    font-size: 16px;
    font-weight: 400;
  }

  .form-group {
    margin-bottom: 0;
    padding-top: $indent;
  }

  .form-group.calendar-container {
    margin-bottom: 0;
    padding-top: 1px;
  }

  .flatpickr-calendar.inline {
    position: static;
  }
}

.flatpickr-input {
  float: right;
  padding: 5px;
  width: 200px;
}

.timepicker {
  float: none;
  margin: 0 $indent $indent 0;
  width: 15%;
}

.flatpickr1 {
  opacity: 0;
}

.calendar-container {
  position: relative;
}

.dates-title {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

#flatpickr-dates {
  position: absolute;
  right: 0;
  top: 35px;
}

.time_for_date {
  border: solid 1px #dedede;
  border-radius: 3px;
  padding: $indent;
  margin-bottom: $indent;
}

.chosen-day {
  display: block;
  font-size: 17px;
  margin-bottom: $indent;
}

.add-time {
  display: block;
}

.pag {
  padding-top: $indent*2;

  .btn {
    margin: 0 $indent 0 0;
  }
}

.form-group .required {
  font-size: 15px;
  right: -4px;
  top: -4px;
}

.note-required {
  float: right;
  font-size: 13px;
}

.calendar-container .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #fff;
}
