.glyphicon-trash {
  padding-left: 5px;
}
.glyphicon-plus {
  height: 25px;
  width: 30px;
  margin-left: 5px;
}



.org-box {
  display: flex;
}

.glyphicon-envelope {
  padding-left: 5px;
}
.name-email {
  display: -webkit-box;
}

.glyphicon-plus {
  height: 50px;
}
