.glyphicon-trash {
  padding-left: 5px;
}

.glyphicon-plus {
  height: 25px;
  width: 30px;
  margin-left: 5px;
}

.btn {
  margin-left: 10px;
}

.org-box {
  display: flex;
}

.glyphicon-envelope {
  padding-left: 5px;
}

.name-email {
  display: -webkit-box;
}

.glyphicon-plus {
  height: 50px;
}


/* Event info table */
.event-table-wrapper {
  background-color: #f9f9f9;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-bottom: $indent*2;
  width: 62%;

  .event-table {
    border: 0;
  }

  .event-name {
    border: 0;
  }

  .event-data {
    border: 0;
    font-size: 1.2em;
  }

  .event-title {
    margin: 0 0 5px;
    padding: 0;
  }
}

.btn-add .glyphicon-plus {
  height: auto;
  padding-right: 6px;
  width: auto;
}





