@import 'variables';
@import 'create-event';
@import 'create-form';
@import 'event';

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.navbar .navbar-brand {
  height: auto;
  padding: 10px 37px;
}
